#answersTable {
    padding-bottom: 1.5rem;
    border-bottom: 2px dotted; 
}

#askQuestion{
    background-color: rgb(0, 103, 172);
    color: white;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    margin-left: 30%;
    float: left;
    right: 0;
    border-radius: 4px;
}
#askQuestion:hover{
    background-color: rgb(0, 82, 137);
}
#askQuestion:active{
    background-color: rgb(76, 102, 119);
}
#answersTable td{
    padding: 1rem;
}
#askedBy p{
    color: red;
}

#numOfAns {
    font-weight: bold;
    width: 20%;
    text-align: center;
    font-size: 120%;
}

#questTitle {
    font-weight: bold;
    width: 55%;
    font-size: 130%;
}

#numOfViews {
    font-weight: bold;
    text-align: center;
    font-size: 120%;
}

#answerQuestion{
    background-color: rgb(0, 103, 172);
    color: white;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    margin: 1rem;
    float: left;
    right: 0;
    border-radius: 4px;
}
#answerQuestion:hover {
    background-color: rgb(0, 82, 137);
}
#answerQuestion:active {
    background-color: rgb(76, 102, 119);
}