#left{
    display: block;
    position: fixed;
    background-color: rgb(235, 235, 235);
    border-color: rgb(226, 226, 226);
    text-align: center;
    min-width: 10rem;
    width: 12%;
    height: 100%;
    padding-top: 10px;
    box-shadow: 0px 0px 3px 1px rgb(207, 207, 207);
    z-index: 0;
}

.leftnav{
    width: 100%;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(0, 149, 255);
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
    display: block;
    padding: 1.3rem;
    font-weight: 500;
}


#questions:hover, #tags:hover {
    background-color: #b6b6b6;
}
#questions:active, #tags:active {
    background-color: rgb(129, 129, 129);
}
