#profile {
    padding: 2rem;
}
/* #profileQuestions, #profileUsersList {
    padding-bottom: 1.5rem;
    background-color: rgb(205, 205, 205);
    height: 10%;
} */
.profileBasics {
    background-color: rgb(42, 42, 42);
    border-color: rgb(36, 36, 36);
    box-shadow: 0px 0px 3px 1px rgb(30, 30, 30);
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.profileBasics p{
    color: darkorange;
    font-weight: bold;
}
.profileBasicsA td, .profileBasicsB td{
    display: inline-block;
    color: white;
    font-size: 20px;
    padding: 20px;
}
.profileLists {
    display: inline-block;
    width: 31%;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid rgb(226, 226, 226);
    color: rgb(226, 226, 226);
    vertical-align: top;
    overflow-x: auto;
    overflow-y: scroll;
}
.profileLists h4 {
    color: darkorange;
    display: block;
    padding: 10px;
}
.nothingFound{
    color: rgb(226, 226, 226);
    padding: 10px;
}
.userSide{
    width: 47%;
}
.profileLists li{
    padding: 5px;
}
.deleteBtn {
    background-color: rgb(172, 0, 0);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;
    float: right;
}
.deleteBtn:hover {
    background-color: rgb(221, 0, 0);
}
.deleteBtn:active {
    background-color: rgb(123, 0, 0);
}
#goBack {
    background-color: rgb(0, 103, 172);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    float: right;
    font-size: 20px;
}
#goBack:hover {
    background-color: rgb(0, 82, 137);
}
#goBack:active {
    background-color: rgb(76, 102, 119);
}
.formDelete {
    float: right;
    width: 50%;
}